.footerHead {
  margin: 0;

  /* background-color: antiquewhite; */
  border-radius: 5%;
}

.innerFooter {
  /* height: 270px; */
  font-family: "Lobster", cursive;
  background-color: antiquewhite;
  text-align: center;
  padding: 10px;
}
.outerFooter {
  /* height: 30px; */
  background-color: darkgrey;
}
.socialHandle {
  text-align: center;
  /* padding: 10px; */
}

.icon {
  color: teal;
}
.icon:hover {
  color: black;
}

.outerFooter {
  padding: 10px;
  color: aliceblue;
  text-align: center;
}
.written {
  font-family: Arial, Helvetica, sans-serif;
}
